<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Number Memory Game</title>
    <link rel="stylesheet" href="/static/style.css?v=900">
</head>
<body>

<div class="main-container" style="flex-direction: column;">
    <h1 style="color: rgb(248, 246, 245); font-size: 48px; margin-bottom: 30px; text-shadow: 2px 2px 10px rgb(234, 236, 230);">
        NUMBER MEMORY GAME
    </h1>

    <div class="glass-card">
        <h2 class="title" style="border-bottom: 2px solid #eee; padding-bottom: 10px;">Game Rules</h2>
        <div class="info-box">
            <p>Memorize the numbers</p>
            <p> Type them in order</p>
            <p>Use a space between each number</p>
            <p> With each level, one extra number is added</p>
            
        </div>
        <div class="btn-area">
            <a href="/name-input" class="heavy-btn">Continue</a>
        </div>
    </div>
</div>

</body>
</html>
