<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enter Name</title>
    <link rel="stylesheet" href="/static/style.css?v=900">
</head>
<body>

<a href="/" class="back-btn">BACK</a>

<div class="main-container">
    <div class="glass-card">
        <h1 class="title">Join the Game</h1>
        <form method="POST" action="/start-game">
            <div class="info-box">
                <p>Enter your name </p>
            </div>
            <input type="text" name="player_name" placeholder="Enter your name..." required autocomplete="off">
            <button type="submit" class="heavy-btn" style="border:none; width:100%; margin-top:20px; cursor:pointer;">
                Start Playing
            </button>
        </form>
    </div>
</div>

</body>
</html>
